<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Development Ebook</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>

<body class="bg-primary text-white" id="home">
    <!-- Navigation section at the top -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <h3 class="d-inline align-middle">Refactoy Books</h3>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarcollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about-head-section" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#support-head-section" class="nav-link">Support</a>
                    </li>
                    <li class="nav-item">
                        <a href="#success-head-section" class="nav-link">Succes Stories </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{ body }}}
    </div>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</body>

</html>