<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1>
            <p class="lead">Learn Web Development Front to Back</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishableKey}}" data-amount="2500" data-name="Web Development Ebook"
                    data-description="Ebook written by the Refactory" data-image="/public/images/marketplace.png">
                    </script>
                <script>
                    // Hide the default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Buy for $25</button>
            </form>
        </div>
        <div class="col-md-6 mt-3">
            <img src="/public/images/book1.jpg" alt="" class="img-fluid" width="400px" height="300px">
        </div>
    </div>
</section>