<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">
        Your Ebook should be delivered to you within one business day
    </p>
    <a href="/"><button class="btn btn-dark btn-lg">Go Back Home</button></a>
</section>
{{!--  
    - display-x is used for altering the font size of the text
    - display-1 being the biggest and 5 being the smallest
    - py-x set the padding for both the bottom and top
    - py-1 being the smallest and py-5 being the biggest
    - lead set the paragraph above to be the leading or the header
--}}